<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hmapp.hm.com.hmandroidapp">
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 调用硬件相机权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MeterBoxActivity"
            android:label="@string/title_activity_meter_box"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.meterboxdatacollection"
            android:label="@string/title_activity_meter_box"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.ElectricityMeterBoxDateCollectionActivity"
            android:label="@string/title_activity_meterboxdatacollection"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".zxing.android.CaptureActivity"
            android:label="@string/title_activity_meterboxdatacollection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8b82224452a79a3d51b8dd7e08cf1087"/>
    </application>


</manifest>